[2015-05-22 21:14] selimnairb opened #2 "Add mocked unit tests for addResourceFile, getResourceFile, deleteResourceFile"

[2015-05-22 21:15] selimnairb opened #3 "Add code coverage calculation to mocked tests"

[2015-05-22 21:18] selimnairb opened #4 "Add documentation for resource file CRUD"

[2015-05-22 21:19] selimnairb opened #5 "Create setup.py"

[2015-05-26 21:48] #2 closed

[2015-05-26 21:59] #4 closed

[2015-05-27 01:46] #5 closed

[2015-05-27 01:46] selimnairb opened #6 "Publish version 1.0.0 in PyPi"

[2015-05-27 01:47] selimnairb opened #7 "Add installation instructions to documentation"

[2015-05-27 01:53] selimnairb opened #8 "Publish documentation on readthedocs"
https://read-the-docs.readthedocs.org/en/latest/getting_started.html

[2015-05-27 18:04] selimnairb opened #9 "Add support for Python 3"
Library needs to be debugged and updated to work with Python 3.

[2015-06-10 17:32] valentinedwv commented on #9
https://jenkins.renci.org/view/RestClient/job/RestClientBuilds/

Tests fail  on assertion of basestring. What other issues should we check.
NameError: name 'basestring' is not define

======================================================================
ERROR: test_create_get_delete_resource (__main__.TestGetResourceList)
----------------------------------------------------------------------
Trac

[2015-06-10 17:34] valentinedwv commented on #3
Coverage added in the Jenkins builds:
https://jenkins.renci.org/view/RestClient/

[2015-06-10 17:37] valentinedwv opened #11 "Add more live resource tests to SampleData"
Sample data project has Live Data tests using the API. Presetly only does a RasterData.

https://github.com/hydroshare/sampledata/tree/master/tests/api

Changes trigger builds, here:
https://jenkins.renci.org/view/RestClient/job/SampleData_Restclient/

[2015-06-17 16:00] #8 closed

[2015-07-30 05:48] danames opened #12 "Error on Python 3 related to "basestring""
Here's the error on Python 3 I just got:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-packages/hs_restclient/__init__.py", line 572, in addResourceFile
    close_fd = self._prepareFileForUpload(params, resource_file)
  File "/Library/Frameworks/Python.framework/Versions/3.4/lib/python3.4/site-p

[2015-08-03 15:57] danames opened #13 "Provide a method for getting a list of file names in the resource bag"
It would be very useful to get a list of the file names so that you know what files are available to use with the getResourceFile() function.

[2015-08-03 17:15] horsburgh commented on #13
@danames - this information should be in the resource map.  I believe we had a function designed for retrieving the resource map document, but I'm not sure whether it has been implemented yet.

[2015-08-03 19:49] dtarb commented on #13
The link http://www.hydroshare.org/resource/b7822782896143ca8712395f6814c44b/data/resourcemap.xml  will return the resource map document.

[2015-08-03 20:01] danames commented on #13
This should be easy to add to the Python API since there is an endpoint to
retrieve the file contents.

On Mon, Aug 3, 2015 at 1:49 PM David Tarboton <notifications@github.com>
wrote:

[2015-11-06 20:05] #6 closed

[2015-11-06 20:06] selimnairb opened #14 "Add getScienceMetadata()"
Add method to GET /hsapi/scimeta/RESOURCEID/

[2015-11-09 19:38] selimnairb opened #15 "Add support for authenticating via OAuth2"
As per [this](https://github.com/hydroshare/hydroshare/issues/130) HydroShare issue.

[2015-11-10 18:43] selimnairb opened #16 "Add new resource access flags to system metadata mocks"
In addition to "public": true the REST API now returns the following access flags to system metadata for a resource:

    "discoverable": true,
    "shareable": true,
    "immutable": false,
    "published": false,

The client doesn't currently need to reference these flags, but the mocks should be updated so that our tests don't drift from the current message format.

[2016-03-01 03:51] #15 closed

[2016-03-01 03:52] selimnairb opened #19 "Add support for getUserInfo()"
Add method to GET /hsapi/userInfo/

[2016-03-01 03:54] selimnairb commented on #13
This relates to https://github.com/hydroshare/hydroshare/issues/601

[2016-03-02 04:52] #19 closed

[2016-03-02 04:52] #14 closed

[2016-03-02 04:53] #13 closed

[2016-03-04 08:11] yanliu-chn opened #20 "createResource: what is the token in HydroShareAuthOAuth2 ?"
Is it the access token or the authorize token? I tried with a valid access token, and got:

`>>> auth = HydroShareAuthOAuth2(client_id, client_secret, token='___myaccesstoken___')
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/gpfs/smallblockFS/home/gisolve/cybergis/taudem/pyenv/lib/python2.6/site-packages/hs_restclient/__init__.py", line 911, in __init__
    sel

[2016-04-08 02:07] selimnairb commented on #20
@yanliu-chn Please close this issue if it has been resolved elsewhere.  Thanks.

[2016-04-08 02:08] selimnairb opened #21 "Error when calling hs.getResourceFileList() when using OAuth 2"
Issue details posted to hydroshare repo: https://github.com/hydroshare/hydroshare/issues/1096.

The problem is that HydroShare's REST API does not supply HTTPS URLS for pagination.  Until this is fixed in HydroShare, we can add a check to hs_restclient to work around this.

[2016-04-08 02:08] #20 closed

[2016-04-08 02:30] #21 closed

[2016-06-10 02:19] shawncrawley opened #24 "AddResourceFile lacks necessary parameter"
The AddResourceFile allows the user to pass a file-like object, but if so, they must also pass a resource_filename as a parameter. This is currently impossible. It would be an extremely easy change. In fact, I've already done it locally for testing, so I can be in charge of getting this done.

[2016-06-17 18:58] #24 closed

[2016-07-08 02:54] mtpain commented on #12
Just ran into this myself. This appears to be a duplicate of #9

[2016-07-08 22:18] pkdash opened #28 "Add 'metadata' parameter to resource creation function"
This would allow passing data for any number of metadata elements supported by a specific resource type including core metadata elements.

[2016-07-11 22:41] pkdash opened #30 "Update documenation on 'metadata' parameter"

[2016-07-19 15:05] #9 closed

[2016-07-19 17:23] pkdash opened #33 "Fix documenation error on how to use 'metadata' parameter"
The error is related to passing metadata for the 'coverage' element.

[2016-07-20 19:18] pkdash opened #38 "Fix the use of metadata parameter in unit test"
The format of metadata passed for the 'coverage' element is not right.

[2016-07-20 19:20] IvanShkarbut opened #39 "test error"
Run the test, I got error:
Traceback (most recent call last):
  File "test_hs_restclient.py", line 19, in <module>
    from httmock import with_httmock, HTTMock
ImportError: No module named 'httmock'

[2016-08-16 18:23] pkdash opened #41 "Get Resource API needs change to support async bag download"

[2016-10-14 19:25] pkdash opened #43 "Allow resource creation with key/value metadata"
The Hydroshare REST endpoint supports this now.

[2016-10-15 19:12] shawncrawley opened #45 "getResource() error"
When running the following code:
[code]
I get the following error:
[code]

This error does not happen with any other resources that I have tried it on recently. Here is the link to the resource landing page in question:

https://www.hydroshare.org/resource/e2280d7b3da141738956bd9822a8a32a

[2016-10-15 21:40] pkdash commented on #45
When I downloaded the bag for this resource from web interface, the bag zip file seems not to be a valid zip file. I have seen this before. @hyi may know what causes these bad zip files being created on iRODS.

[2016-10-16 20:32] hyi commented on #45
@pkdash @shawncrawley I downloaded the bag and can unzip it without issues. I also looked at the zipped bag directly from iRODS and the zipped bag file looks correct. Since the zipped bag file already exists and bag_modified is False, so there is no bag recreation needed, hence async bag download is not in play here, but rather the zipped bag file will be directly downloaded without any actual act

[2016-11-09 21:23] pkdash commented on #41
This has been implemented. So closing..

[2016-11-09 21:23] #41 closed

[2016-11-09 21:25] pkdash commented on #28
This has been implemented. So closing.

[2016-11-09 21:27] pkdash opened #46 "Add function to retrieve resource map xml document."
There is now a REST endpoint for this in Hydroshare. Need to add a new function to the rest client to use that REST endpoint.

[2016-12-08 05:53] pkdash commented on #46
This has been addressed in release 1.2.5. So closing.

[2016-12-08 05:53] #46 closed

[2016-12-08 05:53] pkdash commented on #43
This has been addressed in release 1.2.5. So closing.

[2016-12-08 05:53] #43 closed

[2016-12-08 05:56] pkdash commented on #38
This has been fixed. So closing.

[2016-12-08 05:56] #38 closed

[2016-12-08 05:58] pkdash commented on #33
This has been fixed. So closing.

[2016-12-08 05:58] #33 closed

[2016-12-08 05:59] pkdash commented on #28
This has been fixed. Closing.

[2016-12-08 05:59] #28 closed

[2016-12-08 06:00] pkdash commented on #30
This has been fixed. Closing.

[2016-12-08 06:00] #30 closed

[2016-12-16 23:38] pkdash opened #48 "Add function for folder REST endpoint"

[2016-12-16 23:39] pkdash opened #49 "Add function for REST endpoint for updating metadata"

[2017-01-23 05:47] pkdash opened #52 "Add functions for resource access permissions"
Functions need to be added to support the following REST endpoint:
**hsapi/resource/{pk}/access**

[2017-01-23 05:49] pkdash commented on #49
This has been implemented.

[2017-01-23 05:49] #49 closed

[2017-01-23 05:50] pkdash commented on #48
This has been implemented in 1.2.6 release

[2017-01-23 05:50] #48 closed

[2017-03-07 16:59] pkdash opened #53 "Add documentation on this use of api functions for which document is missing"
e.g there is no documentation for getResourceFileList()

[2017-03-14 20:05] pkdash opened #54 "Add functionality to support new HydroShare REST endpoints"
The following new endpoints need to be supported:
-  [x] Unzip file
-  [x]  Zip folder
-  [x] Move file/folder
-  [x] Add key/value resource level metadata
-  [x] Set other resource flags
-  [x] Create resource version
-  [x] Create resource copy

[2017-03-14 20:16] aphelionz commented on #54
@pkdash Thanks for making this ticket and enumerating what needed work. Would you prefer if I did this so you could focus on other work? I'm happy and available to support you either way.

[2017-03-14 20:18] pkdash commented on #54
@aphelionz If you can work on this that would be great. Thanks.

[2017-03-15 18:55] aphelionz opened #55 "JSON object error"
I’m getting the following error every once in a while when downloading a resource using hs_restclient.getResource. My function runs inside a thread, but it looks like the error occurs inside the hs_restclient when loading json after the download completes. I’m hoping that you may have a chance to look at this.
threads.runThreadedFunction('Downloading Resource', 'Download Finished', self.hs.getReso

[2017-03-31 17:14] gantian127 commented on #55
@aphelionz Would you please let me know whether this has been fixed or not? I recently have the same issue when I use hs_restclient to download the resource bag. Thank you!

[2017-04-07 01:27] aphelionz commented on #54
@pkdash I'd like to close this issue and break it up into two smaller tickets:
- Upload endpoint
- @horsburgh's discovery endpoints

Any objections?

[2017-04-07 02:35] horsburgh commented on #54
@aphelionz - fine by me.

[2017-04-07 03:22] pkdash commented on #54
@aphelionz sounds good to me.

[2017-04-11 14:45] aphelionz commented on #54
@pkdash Please review. I will create secondary tickets now

[2017-04-11 14:45] aphelionz opened #57 "Add functionality to support specific file upload endpoint"

[2017-04-11 14:46] aphelionz opened #58 "Add functionality to support new discovery endpoints"

[2017-04-12 19:27] ChristinaB opened #59 "hs_restclient issue encountered via JupyterHub Welcome Page on USU Beta"
@pkdash
I used the USU Beta server to open two different public resources and get the same error.

Here is the error I get when I test with
Public and shareable resource that I do not own (I have edit/author permissions: https://www.hydroshare.org/resource/1de72928f573433290f6c8bb393523df/

Public and shareable resource that I do own
https://www.hydroshare.org/resource/0183ec4000f644fa9378cf28cfe5

[2017-04-13 14:52] aphelionz commented on #59
Hi @ChristinaB, if I visit that resource I am directed to this page: https://www.hydroshare.org/django_irods/download/bags/1de72928f573433290f6c8bb393523df.zip

So the problem isn't in the rest client, it's on Hydroshare itself. If I had to guess, I'd say it was something reading from / writing to hydroshare improperly. @hyi @pkdash Can we uncover what this 500 error is somehow? Are there logs?

[2017-04-14 22:58] ChristinaB commented on #59
In the past, I have been able to jigger the system by making a Copy of a resource, and then it downloads. This is a new error that does not work for older resources or brand new ones.
Thanks for looking into it @pkdash

[2017-04-14 23:24] pkdash commented on #59
@ChristinaB and @aphelionz The problem is not with the rest client. I tried to download this resource (1de72928f573433290f6c8bb393523df) from the web site and got error. @hyi should be able to look into it as it seems iRODS related.

[2017-04-15 15:38] ChristinaB commented on #59
@hyi   @dtarb    I started this issue under the JuyterHub repository, and @Castronova asked me to post it as a restclient issue.  But if it is not a restclient issue, do you want me to move it to the main HydroShare issues or keep it here?   Thanks everyone!

[2017-04-15 17:24] aphelionz commented on #59
@ChristinaB It's ok to keep it here, no need to create more work for yourself ;). @hyi just needs to weigh in and we should be able to get what we need.

[2017-04-17 16:12] Castronova commented on #59
@ChristinaB We're trying to determine the cause of this issue and perhaps a bit more information about how the resource was created may help use isolate the bug.

1. How was the resource created?  Using the web interface or the rest client?
2. Were content files uploaded to irods or via the create resource interface?
3. Were any versions of this resource created?  @pkdash suggested that this may c

[2017-04-17 21:58] hyi commented on #59
@ChristinaB @Castronova I have spent a couple of hours this afternoon trying to get to the bottom of this, but cannot succeed so far. First bag_modified flag for this resource was set to false and there was a bad zip file for this resource, so I removed the bad zip file from iRODS, and set the bag_modified flag for this resource to true so that the bag can be regenerated. However, I always got thi

[2017-04-20 19:14] aphelionz commented on #57
@pkdash I'm getting a specific error here. It's strange because the jenkins test pass on hydroshare but the error suggests that maybe they shouldnt.

This is the code I'm running:

[code]

I get a 500 error:

[code]

This is based on the code here: https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_rest_api.py#L403-L410

So my questions are:
1. What's the actual workaroun

[2017-04-20 21:15] pkdash commented on #57
The code that raising the exception is here which is same code that you provided the link for:
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_rest_api.py#L1018'

My guess is on line 1018 the if condition is always false when Jenkins running the test. For some reason if the condition becomes true, then the call ```request.POST.update()``` will fail since POST is an imm

[2017-04-25 14:42] Castronova commented on #59
@ChristinaB @hyi @pkdash
I just got an error when downloading the following resource:
https://www.hydroshare.org/resource/b684dfdb84c74fe5ac23cd9dae1e4364/

I then went to HydroShare and attempted to download it, which took ~20 sec to build the bag, but then downloaded successfully.  I then attempted to download the resource using the rest client and it worked fine.  It looks like this error could

[2017-04-25 14:50] mjstealey commented on #59
@ChristinaB, @Castronova - [This issue](https://github.com/hydroshare/hydroshare/issues/2002) may be worth looking at.

[2017-04-25 15:00] pkdash commented on #59
@Castronova Can you show/paste the code that uses hs_restclient to download the file?

[2017-04-25 15:24] Castronova commented on #59
@pkdash Its the same as the code in the first comment, except different resource id.

[2017-04-25 15:33] pkdash commented on #59
@Castronova ```hs.getResourceFromHydroShare()``` is NOT a hs_restclient function. The client function that downloads the resource bag is ```hs.getResource()```.

[2017-04-25 16:30] Castronova commented on #59
@pkdash I am aware of this.  The code that I was referring to in the first comment is below:

[code]

[2017-04-25 17:28] pkdash commented on #59
@Castronova Sorry I did not see that code example earlier. Hs restclient should wait until the bag is ready to be downloaded as you can see here (https://github.com/hydroshare/hs_restclient/blob/develop/hs_restclient/__init__.py#L803). If you can edit some metadata for this resource (may be add a keyword) I will try to download the bag for that resource using rest client. After you edit, don't dow

[2017-05-02 00:55] ChristinaB commented on #59
Thanks Tony!  is this something that can be a hotfix? Or are we waiting until the next release?
C

[2017-05-02 03:01] ChristinaB opened #62 "CreateResource documentation or debugging needed"
@pkdash @Castronova
Do you mind giving a bit more direction on how to create a new resource using the REST client? We will need to update all of the notebooks, and get other working notebooks going.  It would be great to get a functional example beyond what is in the  code (is that up to date) ?

Here is the error we get with version 1.2.6 followed by the previous working version.  What is a 401 s

[2017-05-02 04:05] pkdash commented on #62
@ChristinaB

It means authentication failed - in this specific case user who is trying to create resource has not provided Hydroshare user account information when using rest client.

You can find the supported relation types here (seems we are not supporting 'derived from'):
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L626

I think @Castronova should be able to give yo

[2017-05-02 15:59] Castronova commented on #62
@ChristinaB

It looks like you may have a few issues here:

### 1. you are calling `createResource` with a `HydroShare` instance that has not been authenticated with a username:

[code]

This is the same as:

[code]

As @pkdash pointed out, the unauthenticated user does not have access to create a resources, so what you need to do instead is instantiate the rest client with user credentials (see

[2017-05-03 15:08] #54 closed

[2017-05-03 15:08] #57 closed

[2017-05-03 15:08] #58 closed

[2017-06-01 15:25] Castronova opened #63 "Unzipping creates redundant folders"
When the restclient unzips a resource, a duplicate folder is created.  This doesn't happen when resources are downloaded directly from HydroShare and unzipped manually.

[code]
creates the following folder structure
[code]

instead is should simply be

[code]

[2017-06-02 17:10] Castronova opened #65 "function to move resource into iRODs"
Need a function to move resource files into iRODs.  This is necessary to move large files between HydroShare and JupyterHub.  Currently the only way to do this is by clicking the `Replicate Resource Bag to iRODS User Zone` button on the resource landing page.  This calls an internal function `https://www.hydroshare.org/hsapi/_internal/[RESID]/rep-res-bag-to-irods-user-zone/`

[2017-06-02 17:11] Castronova opened #66 "Create a resource from iRODs data"
In the HydroShare UI, users can add files from iRODs when creating a resource.  This is not possible via the hs_restclient and is necessary for creating new resources from large files in JupyterHub.

[2017-06-29 18:34] alvacouch opened #67 "Add iRODS ticket support"
The plan is to utilize iRODS tickets to enable direct interaction with the iRODS filesystem without Django in the middle. A REST API has been created for tickets. This interface allows the creation of tickets, which are actually used in a different place (hs_irodsclient).

[2017-07-07 15:31] pkdash opened #68 "Add function to set file type"

[2017-07-19 19:40] pkdash opened #70 "Update docstring to indicate resource specific metadata editing"
Update docstring for function ```updateScienceMetada()``` as it is no more limited to updating only core metadata. Resource specific metadata can also be updated.

[2017-08-15 21:30] pkdash opened #73 "A new release is needed"
As soon as the HydroShare 1.12 goes live, a new release of the client is needed to access the new set file type endpoint.

[2017-08-30 20:21] aphelionz commented on #73
@pkdash Please close this ticket once you can confirm that all the necessary changes made it in to 1.2.10

[2017-08-30 21:19] pkdash commented on #73
Closing as the release has been made.

[2017-08-30 21:19] #73 closed

[2018-02-12 18:37] sdc50 opened #75 "Several query parameters listed in the documentation don't work"
The following query parameters that are listed in the documentation don't have any effect:

`author`
`user`
`public`
`published`
`edit_permission`

If any of these arguments are used with `hs.resources(...)` then the whole list of resources is returned.

[2018-02-12 18:49] sdc50 opened #76 "Bounding box searches don't work as expected"
When searching by bounding box the the `coverage_type` argument doesn't seem to be working. When I specify `coverage_type='box'` I get resources with `coverage_type == 'point'` and vice versa.

Also, no matter what I specify as the bounding box I always get resource `0cb834d7635943e98d770e9df0c522fe` which doesn't have any coverages, so I'm not sure why it's being returned in any bounding box quer

[2018-02-12 18:55] sdc50 opened #77 "Documentation needs to be clarified for `start`, `count`, `from_date`, and `to_date` arguments"
The documentation does not make it clear what the following arguments do:

`start`
`count`
`from_date`
`to_date`

After playing around with them my assumption is that:

- `start` allows you to specify the index of the resource to start querying from
- `count` allows you to specify how many resources to include in the query results
- `from_date` allows you to specify the earliest creation date to q

[2018-02-12 18:56] sdc50 opened #78 "Provide a way to query by `date_last_updated`"
I believe that `from_date` and `to_date` allow you to specify date rages to query based on the `date_created` field (see #77), but is there any way to do the same for the `date_last_update` field?

[2018-02-12 19:00] sdc50 opened #79 "Provide way to query for data with in a time period"
The API allows you to query the spatial coverages ('box' and 'point') based on a bounding box. It would also be helpful to be able to query the `period` coverages using a date range.

[2018-02-12 20:04] sdc50 opened #80 "Querying using email or name causes 400 Bad Request error"
The documentation contains the following:

[code]

In addition to some of these arguments not working (see #75), those that do work only accept the "username".  I get a 400 Bad Request error when trying to use email or name.

[2018-02-22 19:04] aphelionz commented on #77
Thanks! Just added these to the docs. New release is going out today. I'll let you know when.

[2018-02-22 19:04] #77 closed

[2018-02-22 19:05] aphelionz commented on #80
For now all I can do is update the docs to reflect this. Thanks for pointing it out.

[2018-02-22 19:27] aphelionz commented on #80
@sdc50 Version 1.2.12 was deployed and we are going to schedule the rest of the updates and bug fixes you've made issues for soon.

[2018-03-30 17:29] jsadler2 opened #85 "500 when updating metadata"
When I try using the `hs.updateResourceMetadata` method like this:

[code]
I get the following:
[code]

Am I doing something wrong?
(the resource id above is of a public resource so you should be able to replicate this)

[2018-03-30 17:30] jsadler2 commented on #85
@pkdash any ideas on this one?

[2018-03-30 19:53] pkdash commented on #85
@jsadler2 I would expect it to give a 400 error (bad request) in this case since you are trying to update some metadata elements that are not supposed to be updated by the user. For example, date element with type 'created'.

[2018-08-03 14:25] rajadain opened #86 "Support Bulk File Uploads"
Once the core API supports bulk files uploads (see https://github.com/hydroshare/hydroshare/issues/2859), add methods in `hs_restclient` to support them too.

[2018-08-03 14:26] rajadain opened #87 "Support Overwriting Files"
Once the core API supports overwriting files (see https://github.com/hydroshare/hydroshare/issues/2860), add an optional `overwrite` flag argument in `hs_restclient.addResourceFile()` (which is `False` by default) that allows file overwriting.

[2018-09-22 13:01] dtarb opened #88 "Update support address in readme.rst"
I do not think support@unc.edu is the correct support address
![image](https://user-images.githubusercontent.com/3456833/45917486-60b7c300-be35-11e8-8578-ea16fcfea7c4.png)

[2018-09-24 20:43] #88 closed

[2018-09-24 20:43] aphelionz commented on #88
Fixed with PR #89

[2018-10-25 15:14] zhiyuli opened #90 "support createReferencedFile"
hs.createReferencedFile(pid=resource_id, path='data/contents', name='landing_page.url', ref_url=base_url + page['landing_page'])

1) path='data/contents' should be default
2) file_id = hs.createReferencedFile() should return file_id if the creation is done, otherwise None or throws out an exception

[2018-10-30 14:35] zhiyuli opened #91 "hs.createReferencedFile() throws out an error occasionally"
The same code works fine most of the time, but it throws out this error occasionally:
Not sure it is a hs_restclient issue or REST endpoint issue on hydroshare side:

 hs.createReferencedFile(pid=resource_id, path='data/contents', name='landing_page.url', ref_url="https://www.byu.edu/")

Traceback (most recent call last):
  File "C:/Users/Drew/PycharmProjects/czo/bulk-resource-creator/hs_json.py",

[2018-10-31 15:40] zhiyuli opened #92 "Support modification of owners/editors of a resource"
Support modification of owners/editors of a resource

[2018-11-07 14:59] zhiyuli opened #95 "hs.setAccessRules(resource_id, public=True) stopped working in 1.3"
hs.setAccessRules(resource_id, public=True) stopped working in 1.3

I was able to create a resource and add required metadata, but not make it public anymore

File "C:\Users\Drew\Miniconda3\envs\py27\lib\site-packages\hs_restclient_init_.py", line 805, in setAccessRules
raise HydroShareNotAuthorized(('PUT', url))
hs_restclient.exceptions.HydroShareNotAuthorized: Not authorized to perform PUT on ht

[2018-11-07 15:22] zhiyuli commented on #95
This issue caused another issue in hs_restclient https://github.com/hydroshare/hs_restclient/issues/95
but the root is here in hydroshare side

[2018-11-09 14:46] zhiyuli commented on #92
adding this:
manage resource access control over a Group

[2018-11-09 20:19] krewgar opened #96 "Adding NetCDF resource file to a composite resource"
I created a composite resource and I am trying to add a netcdf file to the resource. When I do it all in one step, the function works but when I try to do it by creating a resource (hs.createResource) and then adding (hs.addResourceFile) , there is an error. I am adding the resource using a file path but the function thinks its a file-like object and requires a filename.

Here is the code:

hs = H

[2018-11-09 21:11] pkdash commented on #96
I am guessing the netcdf file may be failing validation. Can you try uploading the same file to a netcdf resource using the website and see if the file gets added to the resource?

[2018-12-11 21:42] krewgar commented on #95
I received the same error when I tried hs.createResourceFolder(resource_id, path). HydroShareNotAuthorized: Not authorized to perform PUT on https://www.hydroshare.org/hsapi/resource/21c38e32c8f34de1a3073e738e7726bc/folders/12-11-2018-21:21:35. This resource is mine and I used my credentials for authentication

[2019-01-05 21:10] aphelionz commented on #63
Hey @Castronova would you mind un-assigning me from the hs_restclient tickets?

[2019-01-06 00:49] aphelionz commented on #55
Commenting to unassign myself

[2019-01-06 00:49] aphelionz commented on #55
Unassign me

[2019-01-06 00:50] aphelionz commented on #55
would you mind un-assigning me

[2019-01-08 00:59] aphelionz commented on #66
@Castronova please un-assign me from this ticket when you get a chance

[2019-01-08 00:59] aphelionz commented on #65
@Castronova please un-assign me from this ticket when you get a chance

[2019-01-08 01:00] aphelionz commented on #55
@Castronova please un-assign me from this ticket when you get a chance

[2019-01-09 19:51] zhiyuli opened #97 "Failed to update some metadata terms"
No error received. But they didnt get updated.

        # not working!!!!
        # hs rights/license
        right_dict = {'statement': 'This is the rights statement for this resource',
                            'url': 'http://rights.ord/001', }
        science_metadata_json =hs.updateScienceMetadata( resource_id, metadata={'rights': [right_dict]})

        # not working !!!!
        # hs fundi

[2019-01-11 18:31] zhiyuli opened #98 "hs.addResourceFile() should return file_id newly created"
file_id = hs.addResourceFile(resource_id,
                                             file_local_path)

does not return the file_id newly created. it returns res_id

[2019-01-11 18:33] zhiyuli opened #99 "hs.resource(resource_id).files.metadata(file_id, f["metadata"]) Does Not work for GenericFileType"
hs.resource(resource_id).files.metadata(file_id, f["metadata"])
Works for ReferencedFile,
But it Does Not work for GernericFileType

[2019-01-15 18:33] sblack-usu commented on #98
I agree it should return the file_id, or at least the response body, which includes the file_id.  Are you okay with me returning the whole response which will be a json map with the resource_id and file_id?  The resource_id is kind of useless in the response, but it's there and I'd like to rest client to return the response instead of parsing it and tossing the rest.

[2019-01-15 18:38] sblack-usu commented on #98
This has work on both the python rest_client and the rest_api.  The rest_api will need to be updated to include the file_id in the response.  Currently it only returns the resource_id and file_name.
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/views/resource_rest_api.py#L1128

The rest_client will have to be updated to return the json body for the response instead of parsing out t

[2019-01-15 19:14] sblack-usu commented on #97
The rest_api parses this incorrectly and places your dict inside the statement key...
https://github.com/hydroshare/hydroshare/blob/develop/hs_core/models.py#L3528
It's an easy enough fix to put it in the correct key.

[2019-01-15 20:43] sblack-usu commented on #97
Moving this work to hydroshare.  https://github.com/hydroshare/hydroshare/issues/3088

[2019-01-15 20:43] #97 closed

[2019-01-15 20:45] sblack-usu commented on #98
hydroshare work will be done in https://github.com/hydroshare/hydroshare/issues/3088

[2019-01-16 06:51] aphelionz commented on #55
@sblack-usu can you?

[2019-01-16 16:00] zhiyuli commented on #99
@sblack-usu
is every file uploaded to CompositeResource a GenericLogicalFile by default?

[2019-01-16 16:11] zhiyuli commented on #99
@sblack-usu
I just want to add metadata to a GenericLogicalFile file via api:
Should I set file type first and then add metadata, like
# step 1: set file to  GenericLogicalFile
options = {
             "file_path": "mailchimp.txt",
             "hs_file_type": "Generic"
          }
hs.resource(resource_id).functions.set_file_type(options)

# step 2: find file_id

# step 3: add metadata to file
f_m

[2019-01-16 16:12] zhiyuli commented on #98
@sblack-usu

I am ok with returning the whole json body. I can extract the file_id by myself. Thanks!

[2019-01-16 16:15] zhiyuli commented on #99
@sblack-usu
Also I think it is better to standardize the use of filename and file_id.
Currently some endpoints need filename but other need file_id....

[2019-01-17 01:02] sblack-usu commented on #99
no, files don't have any logical file by default unless they're recognized as an aggregation.  Apologies for the inconsistencies between file_id an dfile_path... this was inherited.  I'm in favor of ditching file_ids completely.  I can update metadata to take the path in this ticket as well.  For backwards compatibility, I'll leave the file_id in there as well.

[2019-01-23 12:39] zhiyuli commented on #99
@sblack-usu
also in some cases, HS will rename uploaded files. one case I found was "my file.txt" got changed to "my_file.txt".
if we choose to use filename as the identifier, the uploading/creation rest api should return the new filename HS saved, or return both file_id and filename.

[2019-01-24 22:04] sblack-usu commented on #99
yeah, that's some functionality that came in to standardize file names.  I voted for just blocking names with spaces, but it was decided we would change " " to "_".  I agree it should return the resulting file name.

[2019-01-29 04:23] amabdallah opened #101 "Expectation when the credentials are not correct in HTTP Basic authentication"
This authentication methods needs to return an error message if the username or pass do not match with HydroShare.

Right now, either way, "hs" returns a value. Not sure whats the best way to programatcily catch an expectation when the credentials are not correct.

[code]

[2019-02-13 12:52] cuahsimarko commented on #92
@zhiyuli is this a showstopper or a nice-to-have? Can you provide more detail on the need and its impact to CZO work? Can they just edit in the database?

[2019-02-13 14:22] zhiyuli commented on #92
@cuahsimarko @martinseul @Lizabrazil
I think the priority of this ticket depends on what Alva's group of group can do.
Currently, in CZO project we create each resources using a specific "czo_XXXX" account, but all resources should be owned by "czo_national" account as well.
So 2 options here:
1) do it in migration script by using the new rest api and hs_restclient requested in this ticket
2) do i

[2019-02-13 14:25] cuahsimarko commented on #92
In that case, I'd lean toward the script performing the action by whatever means necessary or as part of manual remediation. Let's make that our task.

[2019-02-13 14:25] cuahsimarko commented on #92
@zhiyuli If you accept this, can you close this Issue with label "wontfix"?

[2019-02-13 14:33] zhiyuli commented on #92
@cuahsimarko
a second thought --- the "authoring tool" which we will be talking about in next 1 or 2 week would need to use HS rest api (probably hs_restclient as well if clowder team uses python) for everything such as create, edit and manage access over a hs resource.

So rest api mentioned here is needed sooner or later anyway...

[2019-02-13 14:36] cuahsimarko commented on #92
Understood. So this GH Issue #92, we're asking Martin to assign to Alva? Side note, I think Scott may have some role in ownership/oversight in this repo, unless I'm mistaken.

[2019-02-13 14:37] cuahsimarko commented on #92
Or maybe you're asking a new ticket be created in hydroshare/hydroshare for Alva & Co to work, and this #92 gets asked of Scott to work?

[2019-02-13 15:51] zhiyuli commented on #99
# step 1: set file to GenericLogicalFile doesnt work in  HS RC1.19 + Client 1.3.1
options = {
"file_path": "mailchimp.txt",
"hs_file_type": "Generic"
}
hs.resource(resource_id).functions.set_file_type(options)

[2019-02-13 16:01] zhiyuli commented on #99
fixed by changing "Generic" to "SingleFile". Thanks @sblack-usu
options = {
                            "file_path": f["file_name"],
                            "hs_file_type": "SingleFile"
                        }
hs.resource(hs_id).functions.set_file_type(options)

[2019-03-06 15:47] zhiyuli opened #103 "Needed changes for HS 1.20.1 release"
This is running list

1) a new bool parameter "validate_url_flag" added to endpoint for RefFileType creation to specify whether to validate url.
{url_base}/resource/data-store-add-reference/

2) update extra_metadata

[2019-03-13 05:46] amabdallah opened #104 "Create a DOI to cite hs_restclient"
Hi,

Thanks for the very useful tool. Would you please create a DOI for this repository so I can cite it appropriately? needless to say that peer-reviewed papers/journals love DOIs :)

Here is how you could easily do it with Zonedo just in case. Please remeber to add the badge to the ReadME
https://guides.github.com/activities/citable-code/

Thank you so much for the handy tool
Adel

[2019-03-13 16:51] sblack-usu commented on #104
@dtarb @martinseul - It looks like @amabdallah would like to cite the hs_restclient.  We could you like me to setup a doi for it?

[2019-03-13 17:07] horsburgh commented on #104
FYI - I just did this for one of my GitHub repos. The process of automatically setting up Zenodo to snapshot releases and and create a DOI for each one is pretty straightforward. But, it copies limited metadata to describe the release from GitHub into Zenodo and it doesn't always show up the way you would want it to. For example, some people showed up as authors identified only by their GitHub use

[2019-04-13 22:27] amabdallah opened #106 "file_id is missing"
Did you guys drop the [id] from files?

This piece of code used to work fine before but now I found out there is no more [id] returned which then I can't upload the spatial extent
    spatial=hs.resource(resource_id).files.metadata(file_id, params)

![Capture](https://user-images.githubusercontent.com/3268971/56085885-af946c80-5e08-11e9-8deb-e16aaf838e84.PNG)

[2019-04-15 14:41] sblack-usu commented on #106
@amabdallah - You can use the path with the filename now, so in your case you could just pass in `Bear_Weber.sqlite` in place of the file_id

[2019-04-15 15:16] amabdallah commented on #106
Thanks @sblack-usu
It makes more sense or at least much easier to use the file name. I'll update my code and it should work fine.
Adel

[2019-04-16 15:39] ocefpaf opened #107 "Missing license file and specification"
There is no license file and `BSD` has, at least, 3 different versions. It would be nice to know which one this package is licensed under so we can package it downstream.

[2019-04-16 18:48] sblack-usu commented on #107
@dtarb @martinseul - Would you like to consider a license for hs_restclient?

[2019-04-16 19:02] horsburgh commented on #107
Is there a reason why it should be different than the one used for the main HydroShare codebase? BSD 3-Clause.

[2019-04-16 20:39] sblack-usu commented on #107
I don't see why not, just raising the issue to those who need to give input for the license.

[2019-04-16 23:27] dtarb commented on #107
We set policy long enough ago that it has been forgotten that all HydroShare code should use the BSD-3-Clause license by default (and only deviate if there was proper reason).

[2019-04-17 14:59] sblack-usu commented on #107
I went ahead and added a copy of the LICENSE.txt file from hydroshare to hs_restclient.

https://github.com/hydroshare/hs_restclient/blob/develop/LICENSE.txt

[2019-04-17 21:45] #107 closed

[2019-05-06 17:37] zhiyuli opened #108 "make hs.getScienceMetadataRDF() compatible with Python 3"
Current hs.getScienceMetadataRDF() doesnt decode bytes into str/unicode correctly in Python3

[2019-05-07 13:28] zhiyuli opened #109 "FilesSubEndpoint.all() and .metadata() to return json dict"
FilesSubEndpoint.all() and .metadata() to return json dict

[2019-05-07 17:02] zhiyuli opened #110 "rest api enhancements for composite resource type"
@sblack-usu @martinseul
I list feature requirements from apps' perspective. Feel free to split and/or move them to hydroshare repo if needed. Also, this might be a running list. Thanks

1) retrieve all metadata for a given aggregation: currently FilesSubEndpoint.metadatametadata(self, file_path, params=None) only returns core metadata without file-type specific metadata

2) filtering based on aggr

[2019-05-08 14:58] zhiyuli commented on #110
@danames @kjlippold
please review and add your comments/requests when you get a chance

[2019-05-08 18:36] kjlippold commented on #110
Here's a few other things I'd like to see, if there isn't already some way of doing them.

1. Include a list of aggregation types present in the resource in a get resource request, like what appears under "content types" on the resource landing page.

2. This is related to Drew's second point, but the ability to get a list of all resources containing specified aggregation types. (Different than ge

[2019-05-08 18:37] kjlippold commented on #110
I think a lot of these features need to be added to HydroShare's rest api before they can be added to the rest client.

[2019-05-10 14:56] sblack-usu commented on #110
ok, I'm seeing basically two categories to these requests:
Discovery
Resource Actions

Most of the work here needs to be done on the rest api in hydroshare.  I'll work on the Resoruce actions withing https://github.com/hydroshare/hydroshare/issues/2575.  Once I wrap that up, I'll create an issue for discover.  I'd like to setup a rest api endpoint that just routes to @alvacouch's discover, where m

[2019-07-12 21:02] rajadain opened #111 "Deleting Resource Causes Exception"
Previously, [this code](https://github.com/WikiWatershed/model-my-watershed/blob/f1ba2612cb90d76d5a866d2cf946befd4d295ff6/src/mmw/apps/export/views.py#L92-L97) used to work:

[code]

It now fails with the following error message:

[code]

This is because the HydroShare API recently switched from sending back a `200 OK` to a `204 NO CONTENT` https://github.com/hydroshare/hydroshare/commit/c99b8423c

[2019-07-12 21:07] sblack-usu commented on #111
This is on me, I updated the response but did not update the restclient to look for the updated code.  You've done all the investigative work, so I'll turn this around pretty quickly.  Do you need a release pushed to pip right away or are you comfortable installing straight from github?  I've got some more work I've got to implement in the rest_client that'll take a little more time, but I can do

[2019-07-12 21:12] rajadain commented on #111
If you expect a release in the next week or so, that's alright. We're doing some tech debt cleanup on MMW, discovered this while exercising the app. I'll make a follow up card on our side to update the hs_restclient version once this has been released.

On a side note: we're currently on `1.2.10`. Is there a changelog, or any breaking changes since that version?

[2019-07-12 21:19] sblack-usu commented on #111
There shouldn't be any breaking features, I try not to do that because it generates more work for me.  There are several additions, largely just adding support for new endpoints.

https://github.com/hydroshare/hs_restclient/blob/develop/RELEASE_NOTES.md

[2019-07-12 21:20] sblack-usu commented on #111
I can turn around a release next week.  I'll keep you posted.

[2019-07-19 15:36] sblack-usu commented on #111
@rajadain - I just pushed out 1.3.4 with this fix.  Please let me know if everything works as expected.

[2019-08-08 20:14] rajadain commented on #111
Thanks @sblack-usu, this was upgraded and verified in https://github.com/WikiWatershed/model-my-watershed/pull/3134. This issue can now be closed.

[2019-08-08 20:14] #111 closed

[2019-10-17 19:14] Castronova opened #112 "hs.addResourceFile always adds to root directory"
When using `hs.addResourceFile`, files are always added to the root directory of the resource regardless if a different `resource_filename` is provided. It does, however, successfully rename files when using `resource_filename` though. To reproduce;

[code]

[2020-03-20 19:50] cbcunc opened #118 "hs_restclient.Hydroshare.getResourceList is deprecated; use hs_restclient.Hydroshare.resources instead in examples"
Following examples in README results in:

`site-packages/hs_restclient/__init__.py:208: UserWarning: This syntax is deprecated, please use hs.resources(**kwargs) instead.
  warnings.warn("This syntax is deprecated, please use hs.resources(**kwargs) instead.")`

[2020-03-20 20:09] cbcunc commented on #118
PR is #119

[2020-03-25 15:24] #118 closed

[2020-05-12 21:17] Elepert opened #121 "hs.getResourceFileList does not return info on empty folders"
`hs.getResourceFileList` does not return information on empty folders. This causes issues when you try to make a new folder with that same name because the user doesn't know that it doesn't exist. To reproduce, add an empty folder to a HydroShare resource.
`resource_files = hs.getResourceFileList(resource_id)`

[2020-05-12 21:21] Elepert opened #122 "File names with spaces are converted to underscores"
Uploading a file that has spaces in the name to HydroShare automatically adds underscores instead of spaces. This causes issues when trying to compare files in the hydroshare_jupyter_sync app.

[2020-05-18 02:24] amabdallah opened #123 "AttributeError: 'tuple' object has no attribute 'request'"
Hi @Castronova and @sblack-usu

When I run this very basic connection, I get the error below. My code used to work fine last year but not anymore. Any suggestions?

[code]

[2020-05-18 02:24] amabdallah commented on #123
@Castronova

[2020-05-18 13:03] Castronova commented on #123
@amabdallah Which version of the `hs_restclient` are you using? Can you run the following command:

[code]

[2020-05-18 13:10] Castronova commented on #123
@sblack-usu  @amabdallah  I was able to reproduce this error in version 1.3.6.

[code]

[code]

[2020-05-18 13:37] sblack-usu commented on #123
This has already been fixed in develop, it just needs a release.  I can do the release today.

[2020-05-18 15:16] amabdallah commented on #123
Thanks, @Castronova and @sblack-usu . Sorr I should've listed the version. It was the latest one as posted here
https://hs-restclient.readthedocs.io/en/latest/

[2020-05-18 20:47] sblack-usu commented on #123
Just released the 1.3.7 which will provide a proper exception
![image](https://user-images.githubusercontent.com/35820390/82258153-8cdf5c00-9916-11ea-8076-f7965f5d2efd.png)

[2020-05-18 20:48] #123 closed

[2020-05-20 12:22] amabdallah commented on #123
@sblack-usu would you please propagate this release here? https://hs-restclient.readthedocs.io/en/latest/

I'm having issues installing the latest release  v1.3.7 from GitHub. It is still pulling the 1.3.6

[2020-06-06 20:12] amabdallah opened #124 "Received status 504: Gateway Time-out"
Hi @sblack-usu and @Castronova

Any clue why I'm getting this error message? It's the very basic code to access my account

username = 'username'

password = 'password'

auth = HydroShareAuthBasic(username=username, password=password)

hs = HydroShare(auth=auth)

for resource in hs.resources():
    print 'Connected to HydroShare'

  File "C:/Users/Rosenberg/Documents/GitHub/WaMDaM_Wizard_1.05-2.7/

[2020-06-06 20:35] sblack-usu commented on #124
that endpoint performs terribly when no filters are provided.  Try listing just published resource
[code]
This is an issue we're working through, but filtering your resources will help you for now.

[2020-06-07 15:40] amabdallah commented on #124
@sblack-usu thank you, it worked.
What I'm trying to do as a first step here is just to connect to hs and validate user credentials. Is there a better way to do that? Ideally there should be a parameter coming back with valid or invalid connection value and I can just look into it without needing to do this hs.resources().

I added a break, for now, to stop the for loop after getting the first res

[2020-06-08 11:42] Castronova commented on #124
@amabdallah Take a look at how I validate user credentials in the `hstools` application: https://github.com/Castronova/hstools/blob/master/hstools/auth.py.  After I instantiate a connection with HydroShare, I make a simple `getUserInfo` request. This request raises an exception if the login failed

[code]

[2020-06-08 11:58] Castronova commented on #124
@sblack-usu Not sure if you saw this in the HydroShare project, but we might need to take a close look at the resource filtering logic. It appears that the `published` filter is returning non-published resources: https://github.com/hydroshare/hydroshare/issues/3868

[2020-06-10 17:10] sblack-usu commented on #124
https://github.com/hydroshare/hydroshare/pull/3880 addresses the performance of the resources endpoint.  It will be included in the next release in the coming weeks.

[2020-11-29 20:29] #106 closed

[2020-11-29 20:30] #124 closed, assigned to nobody

[2020-12-30 20:11] amabdallah opened #125 "hs_restclient citation"
What's the best way to cite hs_restclient in my paper? It would be useful if you include the preferred citation at the bottom of the ReadME file. I'd appreciate a quick response as I'm submitting my paper very soon and I want to credit hs_restclient.
Thanks
Adel

[2020-12-30 20:38] dtarb commented on #125
Winging it a bit here, but I would suggest treat is as a website
HydroShare Development Team, 2020, "Python-based client library for HydroShare REST API", https://github.com/hydroshare/hs_restclient, accessed 12/30/20.

Recognizing that the software will be updated, if precise citation of the version you used is needed for reproducibility you could use something like
HydroShare Development Team, 2

[2020-12-30 20:59] danames commented on #125
Adel, where appropriate, you could also cite other papers that make use of
and/or describe the use of hs_restclient (
https://scholar.google.com/scholar?as_ylo=2016&q=hs_restclient&hl=en&as_sdt=0,45).
- Dan
**********************************************************************
Daniel P. Ames, Ph.D., P.E.
Professor, Civil & Environmental Engineering,Brigham Young University,
Provo, Utah, USA
Past-P

[2020-12-30 21:17] amabdallah commented on #125
Thanks, David and Dan for the prompt response. I'll use the second citation for now and cite Tian Gan's paper on this as well.

Here are my thoughts as part of the discussion on this

* Having the author as "HydroShare Development Team" makes it easier for now but I'd argue that having all the names who contributed to the client is better. It's not uncommon that journal papers may include a dozen

[2021-03-25 23:48] wknoben opened #126 "getResource() downloads empty .zip for particular resource"
[code]
returns a 0KB zip file. It's not entirely clear to me what goes wrong as no error is returned. Output reads `None`. This seems to happen for this specific resource only, as a different resource (e.g. `ddbe8fa5a5b84e23bb37beeaeaac714d`) can be successfully downloaded as a zip file with this same code.

Downloading the main file in resource `1361509511e44adfba814f6950c6e742` with `getResource

[2021-03-26 03:32] dtarb commented on #126
This may be size related.  @sblack-usu any thoughts.

[2021-03-26 13:41] sblack-usu commented on #126
It sounds like the issue we saw a couple of months back.  @cbcunc Here is another resource that downloads a 0 bytes bag, is this related to the replica issue we saw previously?

[2021-03-26 13:42] sblack-usu commented on #126
The 0 bytes download is not unique to the rest client, I tried downloading it from the web page and got a 0 byte download there as well.

[2022-03-07 23:43] #55 closed